html {
width: 200wh;
height: 120vh;
  background: linear-gradient(20deg, #1C6EA4, #35BFCB, #0D756A, #360075);
  background-size: 300% 300%;
    -webkit-animation: Gradient 3s infinite;
    -moz-animation: Gradient 3s infinite; /* animation code */
      border-width: 10px;
      border-style: outset;
      border-color: #FF9A6C;  
}

/* Below is code for each animation, webkit, moz. */

@-webkit-keyframes Gradient {  
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50% /* still confused about this code, but I think it means how much color it transitions through in each percent. */
	}
	100% {
		background-position: 0% 50%
	}
}
 
 
h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 40px;
  color: #FF0101;
}

h2 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  color: #10FF43;
}

h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  color: #4D08FF;
}


p1, p2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
  color: #000000;
  font-weight: 400; /*changing font weight makes it more thin or thicker*/
}

p3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #4D08FF;
  font-weight: 700;
}

h4 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}